* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Raleway", "Lato", Helvetica, sans-serif;
  background: rgb(61, 44, 32);
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-size: 70%;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  font-family: "Sacramento", cursive;
  font-size: calc(2em + 0.5vmin);
  color: #fff;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Josefin Slab", sans-serif;
  font-size: calc(1.2em + 0.5vmin);
  color: #ffffff;
  text-decoration: none;
}
.overlay__content .logo {
  font-family: "Sacramento";
}
.nav__links {
  list-style: none;
  display: flex;
}

.btn-three {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  padding: 0 2em;
  font-size: calc(1.2em + 0.5vmin);
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 1);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  font-size: 1em;
  letter-spacing: 0rem;
  padding: 0px 2em;
}
.btn-one a {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(255, 255, 255, 1);
  transform: scale(0.1, 1);
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
.overlay a {
  font-size: 150%;
}
@media screen and (max-height: 450px) {
  .overlay .close {
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 1023px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  .overlay a {
    font-size: 150%;
  }
  /* #experience {
    font-size: 0.5rem;
  } */
}
@media only screen and (max-width: 1024px) {
  header {
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 425px) {
  header {
    font-size: 100%;
  }
  .logo {
    font-size: 200%;
  }
}
